

# useDynLib(lattice)

import(grid)


importFrom(grDevices, dev.list, cm.colors, gray, heat.colors)
importFrom(graphics, plot, co.intervals)


importFrom(stats, as.formula, density, fitted.values, loess.smooth, 
           median, ppoints, qnorm, residuals, update)


export("[.shingle", as.factorOrShingle, as.shingle, banking, barchart,
       bwplot, canonical.theme, cloud, col.whitebg, Rows,

### construct.scales,

       contourplot, densityplot, dotplot, draw.colorkey, draw.key,
       equal.count, histogram, is.shingle, larrows,

       latticeParseFormula,

       levelplot, llines, lplot.xy, lpoints, lsegments, lset, ltext,

       ltransform3dMatrix, ltransform3dto3d,

       oneway, panel.3dscatter, panel.3dwire, panel.abline,
       panel.barchart, panel.bwplot, panel.violin, panel.cloud,
       panel.curve, panel.densityplot, panel.dotplot, panel.fill,
       panel.grid, panel.rug, panel.histogram, panel.levelplot,
       panel.contourplot, panel.linejoin, panel.identify,
       panel.lmline, panel.loess, panel.mathdensity, panel.pairs,
       panel.parallel, panel.qq, panel.qqmath, panel.qqmathline,
       panel.splom, diag.panel.splom, panel.stripplot,
       panel.superpose, panel.axis, panel.superpose.2,


       prepanel.tmd.default, prepanel.tmd.qqmath, panel.tmd.default,
       panel.tmd.qqmath,

       panel.wireframe, panel.xyplot, parallel, prepanel.lmline,
       prepanel.loess, prepanel.qqmathline, qq, qqmath, rfs, shingle,
       show.settings, simpleKey, splom, strip.default, stripplot, tmd,
       trellis.device, trellis.par.get, trellis.par.set, wireframe,
       xyplot,

       do.breaks,
       lattice.getOption, lattice.options, trellis.currentLayout,
       trellis.focus, trellis.unfocus, trellis.switchFocus,
       trellis.panelArgs, trellis.vpname, trellis.grobname,

       panel.arrows, panel.segments, panel.lines, panel.points,
       panel.text, current.panel.limits,

       strip.custom, trellis.last.object,

       make.groups

       )


## Miscellaneous methods

S3method("[", shingle)
S3method(as.data.frame, shingle)
S3method(plot, shingle)
S3method(print, shingle)
S3method(summary, shingle)
S3method(print, shingleLevel)

## trellis methods (see also tmd below)

S3method(print, trellis)
S3method(plot, trellis)
S3method(update, trellis)
S3method(summary, trellis)
S3method(dim, trellis)
S3method(dimnames, trellis)
S3method("[", trellis)
S3method(t, trellis)



## methods for high level functions

S3method(barchart,    formula)
S3method(barchart,    array)   #
S3method(barchart,    default) 
S3method(barchart,    matrix)  #
S3method(barchart,    numeric)
S3method(barchart,    table)   #

S3method(bwplot,      formula)
S3method(bwplot,      numeric)
S3method(densityplot, formula)
S3method(densityplot, numeric)
S3method(dotplot,     formula)
S3method(dotplot,     array)
S3method(dotplot,     default)
S3method(dotplot,     matrix)
S3method(dotplot,     numeric)
S3method(dotplot,     table)
S3method(histogram,   formula)
S3method(histogram,   factor)
S3method(histogram,   numeric)
S3method(qqmath,      formula)
S3method(qqmath,      numeric)
S3method(stripplot,   formula)
S3method(stripplot,   numeric)
S3method(qq,          formula)
S3method(xyplot,      formula)
S3method(levelplot,   formula)
S3method(levelplot,   matrix)
S3method(contourplot, formula)
S3method(contourplot, matrix)
S3method(cloud,       formula)
S3method(cloud,       matrix)
S3method(wireframe,   formula)
S3method(wireframe,   matrix)
S3method(splom,       formula)
S3method(splom,       data.frame)
S3method(parallel,    formula)
S3method(parallel,    data.frame)

S3method(tmd,         formula)
S3method(tmd,         trellis)


### Local variables:
### mode: R
### End:
